<launch>
  <!-- 
       Default GUI to true for local Gazebo client. Allows override 
       to set disable GUI for RoboMaker. See part0.launch. 
  -->
  <arg name="use_gui" default="true"/>

  <arg name="model" default="burger" doc="model type [burger, waffle, waffle_pi]"/>
  <arg name="x_pos" default="-1.0"/>
  <arg name="y_pos" default="-1.0"/>
  <arg name="z_pos" default="0.0"/>

  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find exercises)/part1/ros/worlds/single_corridor.world"/>
    <arg name="paused" value="true"/>
    <arg name="use_sim_time" value="true"/>
    <arg name="gui" value="$(arg use_gui)"/>
    <arg name="headless" value="false"/>
    <arg name="debug" value="false"/>
  </include>

  <include file="$(find exercises)/part1/ros/launch/multi_turtlebot3.launch">
	</include>	
</launch>
